/* importing fonts in the right place? */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

:root {
  --darkGreyishBlue: hsl(217, 19%, 35%);
  --darkBlue: hsl(214, 17%, 51%);
  --grayishBlue: hsl(212, 23%, 69%);
  --lightGreyishBlue: hsl(210, 46%, 95%);
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
}

main {
  min-height: 100vh;
  background-color: var(--lightGreyishBlue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 90rem;
  display: flex;
  flex-direction: row;
  background-color: var(--white);
}

.side-img > img {
  width: 100%;
}
